html{
    background-color: #6ec2fa;
}

body{
    display: flex;
    flex-direction: column;
}

nav{
    min-height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color:#CACACA; 
}

footer{
    min-height: 100px; 
    background-color: #B9C6E1;
    display: flex;
    justify-content: center;
}

.logo{
    font-size: 25px;
    padding: 20px
}

section{
    background: #81abc0;
    min-height: 200px;
    display: flex; 
    flex-direction: column;
    align-items: stretch;
    margin : 20px
}

header{
    padding: 30px;
    background-color: #7ed4ff;
    font-size: 20px;
    text-align: center;
}

article{
    margin: auto;
}
